.background{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_button {
  position: absolute;
  width: 25%;
  height: 45%;
  left: 37%;
  top: 25%;
  transition: 1s;
}
.main_button:hover{
  cursor: url(pickaxe.png), auto;
  transform: scale(1.25);
}
.main_button:active{
  transition: 0.5s;
  transform: scale(1);
}
.punch_counter_title{
  position: absolute;
  width: 100%;
  height: 10%;
  color: white;
  font-size: 21px;
  text-align: center;
  background-color: black;
}
.punch_counter{
  top: 10%;
  position: absolute;
  width: 25%;
  height: 10%;
  left: 37%;
  color: white;
  font-size: 21px;
  text-align: center;
}
.tool_menu{
  display: grid;
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(139, 79, 0);
  right: 0%;
  width: 18%;
  height: 97.3%;
  background-repeat: no-repeat;
  background-size: cover;
  grid-gap: 10px;
  padding: 10px;
}

.tool_menu > button{
  padding: 20px 0;
  font-size: 30px;
  color: white;
  font-size: 21px;
  background-color: rgb(208, 157, 80);
  border: 0;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(179, 112, 11);
  cursor: pointer;
  transition: 0.5s;
}
.tool_menu > button:hover{
  background-color: rgb(179, 112, 11);
}
.upgrade_menu{
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(139, 79, 0);
  left: 0%;
  width: 18%;
  height: 97.3%;
  background-repeat: no-repeat;
  background-size: cover;
  grid-gap: 10px;
  padding: 10px;
}

.hr_bar{
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(139, 79, 0);
  width: 81%;
  height: 1%;
  background-image: url("./wood.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 9%;
}